# Ejercicio World Happiness

Ejercicio para practicar tus conocimientos en pandas y matplotlib. Usaremos [World Happiness 2019 dataset](https://www.kaggle.com/PromptCloudHQ/world-happiness-report-2019#world-happiness-report-2019.csv) de Kaggle.

** Importa pandas como pd **

In [1]:
import pandas as pd

** Lee world-happiness-report-2019.csv como un DataFrame llamado wh **

In [2]:
wh = pd.read_csv("world-happiness-report-2019.csv")

** Checa los 5 primeras entradas del DataFrame **

In [3]:
wh.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

** Usa la funcion .info() para ver cuantas entradas hay **

In [4]:
wh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
Country (region)           156 non-null object
Ladder                     156 non-null int64
SD of Ladder               156 non-null int64
Positive affect            155 non-null float64
Negative affect            155 non-null float64
Social support             155 non-null float64
Freedom                    155 non-null float64
Corruption                 148 non-null float64
Generosity                 155 non-null float64
Log of GDP
per capita      152 non-null float64
Healthy life
expectancy    150 non-null float64
dtypes: float64(8), int64(2), object(1)
memory usage: 13.5+ KB

** ¿Cual es la media de Esperanza de vida saludable (Healthy life\nexpectancy)? **

In [5]:
wh["Healthy life\nexpectancy"].mean()

75.5

** ¿En que posicion se encuentra Georgia?¿y España? **

In [6]:
wh[wh["Country (region)"] == "Georgia"]["Ladder"]

118    119
Name: Ladder, dtype: int64

In [7]:
wh[wh["Country (region)"] == "Spain"]["Ladder"]

29    30
Name: Ladder, dtype: int64

** ¿Cual es el pais con mas corrupcion (Corruption)? ¿Y con mas generosidad (Generosity)? **

In [8]:
wh[wh["Corruption"] == wh["Corruption"].max()]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
70,Moldova,71,45,133.0,67.0,65.0,128.0,148.0,86.0,109.0,86.0

In [9]:
wh[wh["Generosity"] == wh["Generosity"].max()]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
150,Yemen,151,85,153.0,75.0,100.0,147.0,83.0,155.0,141.0,124.0

** Bonus: ¿Hay algun correlacion entre la logitud del nombre de un Pais y la Corrupcion? **

In [10]:
wh["pais_len"] = wh["Country (region)"].apply(len)

In [11]:
wh[["Corruption", "pais_len"]].corr()

            Corruption  pais_len
Corruption    1.000000  0.074545
pais_len      0.074545  1.000000